<mat-card>

  <mat-card-header>
    <mat-card-title>Registrar nueva operación</mat-card-title>
    <mat-card-subtitle>Rellena el formulario con los datos relacionados al gasto</mat-card-subtitle>
  </mat-card-header>

  <form [formGroup]="operationForm" class="wrap-form-operation">

    <mat-form-field>
      <mat-select placeholder="Selecciona grupo de gasto" formControlName="group" (selectionChange)="setGroupSelected($event.value)">
        <mat-option *ngFor="let group of family.spendsGroups" [value]="group._id">
            {{ group.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Selecciona categoria de gasto" formControlName="category">
        <mat-option *ngFor="let category of categories" [value]="category._id">
            {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input type="number" matInput placeholder="Cantidad" formControlName="amount">
    </mat-form-field>

    <mat-form-field>
      <textarea type="number" matInput placeholder="Descripción" formControlName="description" rows="4" cols="50"></textarea>
    </mat-form-field>

    <mat-form-field>
      <input type="date" matInput placeholder="Fecha del gasto" formControlName="occurrenceDate">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Selecciona categoria de gasto" formControlName="type">
        <mat-option value="inflow">Gasto</mat-option>
        <mat-option value="outflow">Ingreso</mat-option>
      </mat-select>
    </mat-form-field>

    <label>Foto para respaldar gasto</label>
    <input type="file" style="display: none" #inputUpload (change)="onSelectedFile($event)">
    <button mat-button (click)="inputUpload.click()">Cargar foto</button>

    <img [src]="imagePreview" alt="" accept="image/*" style="max-width: 50%;">

    <button mat-button (click)="uploadImage()">Guardar operación</button>


    <mat-progress-bar *ngIf="isUploading" mode="determinate" [value]="uploadImageProgress "></mat-progress-bar>

  </form>
</mat-card>
