<div>
  <h1>Crear grupo de operaciones</h1>
  <form [formGroup]="groupForm">
    <label for="familyName">Nombre del grupo</label>
    <input type="text" id="groupName" formControlName="name">
    <label for="familyName">Color del grupo</label>
    <input type="text" id="groupColor" formControlName="color">
    <button (click)="createGroup()" [disabled]="groupForm.invalid">Crear grupo</button>
  </form>
</div>

<div *ngIf="!editingGroup">
  <div *ngFor="let group of groups">
    {{ group.name }}
    {{ group.color }}
    <button (click)="deleteGroup(group)">Borrar</button>
    <button (click)="setEditGroup(group)">Editar</button>
  </div>
</div>

<div *ngIf="editingGroup">
  <span>{{ groupToEdit.name }}</span>
  <input type="text" name="" id="" [value]="groupToEdit.name" [(ngModel)]="groupToEdit.name">
  <button (click)="editgroup()">Ok</button>
  <button (click)="editingGroup = !editingGroup">Cancelar</button>
</div>
