<mat-card style="margin-bottom: 1%;">
    <h3>Familia seleccionada</h3>
    <p>{{ familySelected.name }}</p>
</mat-card>

<mat-card class="example-container" *ngIf="creatingFamily">
  <mat-card-title>
    <p>Crear familia</p>
  </mat-card-title>
  <form [formGroup]="familyForm">
    <mat-form-field>
      <input matInput placeholder="Input" formControlName="name">
    </mat-form-field>
    <button style="display: block" mat-button (click)="createFamily()" [disabled]="familyForm.invalid">Crear</button>
  </form>
</mat-card >

<mat-card *ngIf="!creatingFamily && !editingFamily">
  <mat-list *ngIf="!editingFamily && families && families.length > 0">
    <h3 mat-subheader>Familas creadas</h3>
    <mat-list-item *ngFor="let family of families">
      <mat-icon mat-list-icon>group</mat-icon>
      <h4 mat-line>{{ family.name}}</h4>
      <button mat-icon-button (click)="deleteFamily(family)">
        <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
      </button>
      <button mat-icon-button (click)="setEditFamily(family)">
        <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
      </button>
      <mat-slide-toggle (click)="selectFamily(family)" [checked]="familySelected ._id === family._id"></mat-slide-toggle>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</mat-card>

<mat-card *ngIf="editingFamily" style="display: flex; flex-direction: column;">
  <mat-card-title>
    <p>Nombre: {{ familyToEdit.name }}</p>
  </mat-card-title>

  <mat-form-field>
    <input matInput type="text" [value]="familyToEdit.name" [(ngModel)]="familyToEdit.name">
  </mat-form-field>
  <div style="display: flex; flex-direction: row; justify-content: space-around;">
    <button mat-button (click)="editFamily()">Ok</button>
    <button mat-button (click)="editingFamily = !editingFamily">Cancelar</button>
  </div>
</mat-card>

<button class="btn-create-family" mat-fab color="primary" (click)="creatingFamily = !creatingFamily">
    <mat-icon *ngIf="creatingFamily">close</mat-icon>
    <mat-icon *ngIf="!creatingFamily">add</mat-icon>
</button>
