<div>
  <h1>Familia</h1>
  <form [formGroup]="familyForm">
    <h2>Crear familia</h2>
    <label for="familyName">Nombre de familia</label>
    <input type="text" id="familyName" formControlName="name">
    <button (click)="createFamily()" [disabled]="familyForm.invalid">Crear</button>
  </form>
</div>

<div *ngIf="!editingFamily && families && families.length > 0">
  <div *ngFor="let family of families">
    {{ family.name }}
    <button (click)="deleteFamily(family)">Borrar</button>
    <button (click)="setEditFamily(family)">Editar</button>
    <button (click)="selectFamily(family)">Seleecionar Familia</button>
  </div>
</div>

<div *ngIf="editingFamily">
  <span>{{ familyToEdit.name }}</span>
  <input type="text" name="" id="" [value]="familyToEdit.name" [(ngModel)]="familyToEdit.name">
  <button (click)="editFamily()">Ok</button>
  <button (click)="editingFamily = !editingFamily">Cancelar</button>
</div>
