<div class="auth">
  <mat-card>
    <mat-card-title>
      <img class="logo-auth" src="../../../assets/logo.jpg" alt="">
      <div style="text-align: center;font-size:1rem;margin-top: 25px;">LogIn</div>
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="userForm">
        <p>
          <mat-form-field id="user" class="example-full-width">
            <input matInput placeholder="Correo electronico" formControlName="email">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Clave" formControlName="password">
          </mat-form-field>
        </p>

        <p *ngIf="errorMessage" id="pass" class="loginError">
          {{ errorMessage.error.message }}
        </p>

        <div class="auth-btn-wrap">

          <p class="loginButtons">
            <button *ngIf="!isRequesting" type="submit" mat-button value="Entrar" (click)="login()" [disabled]="userForm.invalid">Entrar</button>
          </p>
          <div class="lds-ripple" *ngIf="isRequesting"><div></div><div></div></div>
          <p class="loginButtons">
            <button *ngIf="!isRequesting" type="submit" mat-button value="Entrar" (click)="signup()">no tienes una cuenta?</button>
          </p>

        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>
