<mat-card *ngIf="!editingCategory">
  <mat-card-subtitle>
      <h2>Categorías</h2>
  </mat-card-subtitle>
  <form [formGroup]="categoryForm">

    <mat-form-field>
      <mat-select placeholder="Seleccionar grupo" formControlName="belongsToGroup" (selectionChange)="selectGroup($event.value)">
        <mat-option *ngFor="let group of family.spendsGroups" [value]="group">
            {{ group.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="creatingCategory" style="display: flex; flex-direction: column;">
      <mat-form-field>
          <input type="text" matInput placeholder="Nombre"  formControlName="name">
      </mat-form-field>
      <mat-form-field>
          <input type="text" matInput placeholder="Icono"  formControlName="icono">
      </mat-form-field>
      <button mat-button (click)="createCategory()" [disabled]="categoryForm.invalid">Crear categoria</button>
    </div>

  </form>

  <mat-list *ngIf="!editingCategory && !creatingCategory && categories && categories.length > 0">
    <mat-list-item *ngFor="let category of categories">
      <mat-icon mat-list-icon>group</mat-icon>
      <h4 mat-line>{{ category.name }} - {{ category.icono }}</h4>
      <button mat-icon-button (click)="deleteCategory(category)">
        <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
      </button>
      <button mat-icon-button (click)="setEditCategory(category)">
        <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</mat-card>

<mat-card *ngIf="editingCategory" style="display:flex; flex-direction: column; justify-content: space-around;">
  <mat-list-item style="margin-bottom: 25px">
    <span>Editar categoría</span>
  </mat-list-item>
  <mat-form-field>
      <input type="text" matInput placeholder="Nombre"  [value]="categoryToEdit.name" [(ngModel)]="categoryToEdit.name">
  </mat-form-field>
  <mat-form-field>
      <input type="text" matInput placeholder="Icono"  [value]="categoryToEdit.icono" [(ngModel)]="categoryToEdit.icono">
  </mat-form-field>
  <div style="display:flex; flex-direction: row; justify-content: space-around;">
    <button mat-button (click)="editCategory()">Ok</button>
    <button mat-button (click)="editingCategory = !editingCategory">Cancelar</button>
  </div>
</mat-card>

<button class="btn-create-family" mat-fab color="primary" (click)="creatingCategory = !creatingCategory" *ngIf="!editingCategory">
    <mat-icon *ngIf="creatingCategory">close</mat-icon>
    <mat-icon *ngIf="!creatingCategory">add</mat-icon>
</button>
